name: Deploy to Hostinger (SFTP)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check SFTP_PATH is set
        run: echo "SFTP_PATH set? ${{ secrets.SFTP_PATH != '' }}"

      - name: Deploy via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.5
        with:
          username: ${{ secrets.SFTP_USER }}
          server: ${{ secrets.SFTP_HOST }}
          port: ${{ secrets.SFTP_PORT }}
          password: ${{ secrets.SFTP_PASS }}
          remote_path: ${{ secrets.SFTP_PATH }}
          sftp_only: true
          delete_remote_files: false
          local_path: ./
          rsyncArgs: -av --exclude=.git --exclude=.github --exclude=.DS_Store
